@font-face {
  font-family: "bold";
  src: url("fonts/IBMPlexSans-Medium.woff2");
}

@font-face {
  font-family: "light";
  src: url("fonts/IBMPlexSans-Light.woff2");
}

body {
  background: radial-gradient(circle at bottom center, #ffb1e165, transparent 60%),
              radial-gradient(circle at bottom left, #fff5f160, transparent 80%),
              radial-gradient(circle at right, #ffb09660, transparent 40%), rgb(245 245 245);
  font-family: "light", sans-serif;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
}

h1 {
  font-family: "bold", sans-serif;
  font-size: 50px;
  margin-top: 8rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: left; 
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 35px; 
  max-width: 600px; 
  text-align: left;
  margin-left: auto; 
  margin-right: auto;
}  

a {  
  color: purple;
  text-decoration: none;
  font-family: "bold", sans-serif;
  font-size: 18px;  
  margin-bottom: 1rem;
}

p {
  font-family: "bold", Sans-serif;
  line-height: 1.3;
  font-size: 19px;
  margin-top: 0;
  color: #777777;
  text-align: justify; 
}

hr {
  margin-top: -4rem;
  width: 780px;
}

.date {
  font-size: 1.2rem;
  color: #777;
}

.status-container {
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.status-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  animation: pulse 1s ease-out infinite;
  margin: 7px;
}

.red-dot {
  background-color: #ff0000;
}

.green-dot {
  background-color: #38b000;
}

.silver-dot {
  background-color: #adb5bd;
}

.orange-dot {
  background-color: #ffaa00;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
  
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/*/BOX/*/
.box-container {
  max-width: 450px; 
  text-align: center;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 10rem;
}  

.box {
  width: 570px;
  display: flex;
  align-items: center;
  margin-bottom: 3.8rem;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 13px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.box:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.box:hover img {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 6px;
  transition: all 0.6s ease;
}

.box-text h4 {
  flex-grow: 1;
  text-align: left;
  margin: 10px 5px 10px 5px;
  font-size: 20px;
  font-weight: bold;  
}

.box-text p {
  text-align: left;
  font-family: "light", monospace;
  color: black;
  margin: 10px 5px 10px 5px;
  font-size: 16px;
  line-height: 1.5;  
}

.box-link {
  color: inherit;
  text-decoration: none;
}

.box-link:hover {
  text-decoration: none;
}


/*/HEADER/*/
header {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  backdrop-filter: blur(10px); /* Apply blur to the content behind the header */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

header:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 60px;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.left {
  float: left;
  margin-left: 90px;
  line-height: 60px;
}

.right {
  float: right;
  margin-right: 90px;
  line-height: 60px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li a {
  display: block;
  text-decoration: none;
  color: #333;
}

/* adjust margin for zigzag effect */
.box:nth-child(odd) {
  margin-left: -160px;
}

.box:nth-child(even) {
  margin-right: -160px;
}

/*/SECTION/*/
/* Style for the container element */
.section-container {
  display: flex;
  max-width: 855px; 
  flex-direction: row;
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
}

.section {
  display: flex;
  margin-top: 1rem;
  margin-left: 5.2rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

.section-container a {  
  text-align: left;
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;  
  margin-bottom: 1rem;
}

.section-container p {  
  text-align: left;
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;  
  margin-bottom: 1rem;
}

.section-container h5 {  
  margin-top: -0.1rem;
  text-align: left;
  color: black;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;  
  margin-bottom: 1rem;
}

/* Style for the sections */
/* Style for the first section */
.section-1 {  
  display: flex;
  flex-direction: column;
}

.section-2 {   
  display: flex;
  flex-direction: column;
}

/* Style for the third section */
.section-3 {
  display: flex;
  flex-direction: column;
}